.Nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 500px;
}

.login-btn {
    margin-left: 20px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.cart-btn {
    margin-left: 10px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(7, 253, 159);
    border: none;
    border-radius: 4px;
}

.del {
    font-weight: bold;
    font-size: 20px;
    margin-left: -140px;
}

.de{
    margin-left: -140px;
}

.banner {
    width: 1280px;
    height: auto;
    margin-top: 20px;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.pharmacy {
    display: flex;
    margin-left: 130px;
    margin-top: 20px;
    height: 195px;
    width: auto;
    border-radius: 16px;
    gap: 20px;
}

.categories{
    display: flex;
    justify-content: center;
    width: auto;
    height: 188px;
}

.category2{
    display: flex;
     justify-content: center;
    width: auto;
    height: 188px;
}

h1{
    margin-left: 130px;
}

.scrollbar1{
    max-width: 100%;
    overflow: auto hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    column-gap: 20px;
    margin-left: 12px;
    margin-right: 12px;
}
