body{
    background-color: aqua;
}

h1{
    color: red;
}

div{
   color: red;
   span{
    color: blue;
    p{
        color: aqua;
        ul{
            list-style-type: none;
            li{
                color: bisque;
            }
        }
    }
   }
}